In [1]:
import pandas as pd
fields = ['PPSORT', 'WEIGHT', 'ABOID', 'BFNMEMB', 'CFSTAT', 'Citizen', 'CMA',
       'DETH123', 'HHTYPE',
       'MarStH', 'PR', 'PRIHM', 'REGIND', 'Sex', 'SHELCO',
       'AGEGRP', 'ATTSCH', 'BedRm', 'CFInc', 'CFInc_AT', 'CfSize',
       'CIP2011', 'CIP2011_STEM_SUM', 'CONDO', 'DPGRSUM', 'DTYPE',
       'EFDecile', 'EfDIMBM', 'EFInc', 'EFInc_AT', 'EfSize', 'ETHDER',
       'GENSTAT', 'HCORENEED_IND', 'HDGREE', 'HHInc', 'HHInc_AT',
       'HHMRKINC', 'HHSIZE', 'HLANO', 'IMMCAT5', 'IMMSTAT',
       'LFACT', 'LICO', 'LICO_AT', 'LOC_ST_RES', 'LoLIMA', 'LoLIMB',
       'LoMBM', 'LSTWRK', 'MOB1', 'Mob5', 'MrkInc',
       'MTNNO', 'NOS', 'PKID0_1', 'PKID15_24', 'PKID2_5', 'PKID25',
       'PKID6_14', 'PKIDS', 'POB', 'POBF', 'POBM', 'PR1', 'PR5',
       'PresMortG', 'REPAIR', 'ROOMS', 'SSGRAD', 'Tenur', 'TotInc',
       'TotInc_AT', 'VALUE', 'VisMin', 'WRKACT']

dataset = pd.read_csv("pumf-2016-selected-features.csv", usecols=fields)
dataset.head()

,PPSORT,WEIGHT,ABOID,BFNMEMB,CFSTAT,Citizen,CMA,DETH123,HHTYPE,MarStH,...,PresMortG,REPAIR,ROOMS,SSGRAD,Tenur,TotInc,TotInc_AT,VALUE,VisMin,WRKACT
0,453141,37.037277,6,0,2,1,505,1,2,2,...,1,1,11,5,1,97000,73000,450000,13,11
1,923226,37.037277,6,0,4,1,505,2,2,1,...,1,1,11,4,1,49071,39759,440000,13,11
2,385097,37.037277,6,0,4,1,505,2,2,1,...,1,1,11,4,1,49071,39759,440000,13,11
3,732612,37.037277,6,0,2,1,999,2,2,3,...,1,2,8,8,1,46000,41000,839779,13,11
4,143665,37.120914,6,0,1,1,999,1,1,3,...,1,3,5,6,1,30000,26000,60000,13,9

In [2]:
motherTongueDict = {}
motherTongueDict['1'] = 'No non-official languages'
motherTongueDict['2'] = 'Aboriginal languages'
motherTongueDict['3'] = 'Arabic'
motherTongueDict['4'] = 'Mandarin'
motherTongueDict['5'] = 'Cantonese'
motherTongueDict['6'] = 'Chinese languages'
motherTongueDict['7'] = 'German'
motherTongueDict['8'] = 'All other languages' #'Other Germanic languages'
motherTongueDict['9'] = 'All other languages' #'Greek'
motherTongueDict['10'] = 'Urdu'
motherTongueDict['11'] = 'Persian (Farsi)'
motherTongueDict['12'] = 'Other Indo-Iranian languages'
motherTongueDict['13'] = 'Italian'
motherTongueDict['14'] = 'Polish'
motherTongueDict['15'] = 'Portuguese'
motherTongueDict['16'] = 'Punjabi (Panjabi)'
motherTongueDict['17'] = 'Spanish'
motherTongueDict['18'] = 'All other languages' #'Ukrainian'
motherTongueDict['19'] = 'All other languages' #'Vietnamese'
motherTongueDict['20'] = 'Austro-Asiatic languages'
motherTongueDict['21'] = 'Other European languages'
motherTongueDict['22'] = 'Russian'
motherTongueDict['23'] = 'All other languages' #'Other Slavic languages'
motherTongueDict['24'] = 'All other languages' #'Uralic languages'
motherTongueDict['25'] = 'Other Afro-Asiatic and African languages' #'Other Afro-Asiatic languages'
motherTongueDict['26'] = 'Tamil'
motherTongueDict['27'] = 'All other languages' #'Other Dravidian languages'
motherTongueDict['28'] = 'All other languages' #'Korean'
motherTongueDict['29'] = 'Other East and Southeast Asian languages'
motherTongueDict['30'] = 'Tagalog (Pilipino, Filipino)'
motherTongueDict['31'] = 'All other languages' #'Niger-Congo languages and other African languages'
motherTongueDict['32'] = 'All other languages' #'All other single languages'
motherTongueDict['88'] = 'Not available'

In [3]:
homeLanguageDict = {}
homeLanguageDict['1'] = 'No non-official languages'
homeLanguageDict['2'] = 'Aboriginal languages'
homeLanguageDict['3'] = 'Italian'
homeLanguageDict['4'] = 'Spanish'
homeLanguageDict['5'] = 'Portugese'
homeLanguageDict['6'] = 'German'
homeLanguageDict['7'] = 'Russian'
homeLanguageDict['8'] = 'Polish'
homeLanguageDict['9'] = 'Slavic languages'
homeLanguageDict['10'] = 'Other European languages'
homeLanguageDict['11'] = 'Arabic'
homeLanguageDict['12'] = 'Other Afro-Asiatic and African languages'
homeLanguageDict['13'] = 'Punjabi (Panjabi)'
homeLanguageDict['14'] = 'Urdu'
homeLanguageDict['15'] = 'Persian (Farsi)'
homeLanguageDict['16'] = 'Other Indo-Iranian languages'
homeLanguageDict['17'] = 'Cantonese'
homeLanguageDict['18'] = 'Mandarin'
homeLanguageDict['19'] = 'Chinese languages'
homeLanguageDict['20'] = 'Austro-Asiatic languages'
homeLanguageDict['21'] = 'Tagalog (Pilipino, Filipino)'
homeLanguageDict['22'] = 'Other East and Southeast Asian languages'
homeLanguageDict['23'] = 'Tamil'
homeLanguageDict['24'] = 'All other languages'
homeLanguageDict['88'] = 'Not available'

In [4]:
dataset.columns.values

array(['PPSORT', 'WEIGHT', 'ABOID', 'BFNMEMB', 'CFSTAT', 'Citizen', 'CMA',
       'DETH123', 'HHTYPE', 'MarStH', 'PR', 'PRIHM', 'REGIND', 'Sex',
       'SHELCO', 'AGEGRP', 'ATTSCH', 'BedRm', 'CFInc', 'CFInc_AT',
       'CfSize', 'CIP2011', 'CIP2011_STEM_SUM', 'CONDO', 'DPGRSUM',
       'DTYPE', 'EFDecile', 'EfDIMBM', 'EFInc', 'EFInc_AT', 'EfSize',
       'ETHDER', 'GENSTAT', 'HCORENEED_IND', 'HDGREE', 'HHInc',
       'HHInc_AT', 'HHMRKINC', 'HHSIZE', 'HLANO', 'IMMCAT5', 'IMMSTAT',
       'LFACT', 'LICO', 'LICO_AT', 'LOC_ST_RES', 'LoLIMA', 'LoLIMB',
       'LoMBM', 'LSTWRK', 'MOB1', 'Mob5', 'MrkInc', 'MTNNO', 'NOS',
       'PKID0_1', 'PKID15_24', 'PKID2_5', 'PKID25', 'PKID6_14', 'PKIDS',
       'POB', 'POBF', 'POBM', 'PR1', 'PR5', 'PresMortG', 'REPAIR',
       'ROOMS', 'SSGRAD', 'Tenur', 'TotInc', 'TotInc_AT', 'VALUE',
       'VisMin', 'WRKACT'], dtype=object)

In [5]:
# class label: home language part A - first language write in component
homeLang = dataset['HLANO']
# class label: mother tongue part A - first language write in component
motherTongue = dataset['MTNNO']
fields.remove('HLANO')
fields.remove('MTNNO')
homeLanguageMapped = homeLang.apply(lambda x: homeLanguageDict[str(x)])
motherTongueMapped = motherTongue.apply(lambda x: motherTongueDict[str(x)])
languageShift = homeLanguageMapped.ne(motherTongueMapped)

fields.remove('WEIGHT')
x = dataset[fields]
weights = dataset["WEIGHT"]

In [6]:
homeLanguageMapped

0         No non-official languages
1         No non-official languages
2         No non-official languages
3         No non-official languages
4         No non-official languages
                    ...
930416    No non-official languages
930417    No non-official languages
930418    No non-official languages
930419                    Cantonese
930420    No non-official languages
Name: HLANO, Length: 930421, dtype: object

In [7]:
motherTongueMapped

0         No non-official languages
1         No non-official languages
2         No non-official languages
3         No non-official languages
4         No non-official languages
                    ...
930416    No non-official languages
930417    No non-official languages
930418    No non-official languages
930419                    Cantonese
930420    No non-official languages
Name: MTNNO, Length: 930421, dtype: object

In [8]:
languageShift

0         False
1         False
2         False
3         False
4         False
          ...
930416    False
930417    False
930418    False
930419    False
930420    False
Length: 930421, dtype: bool

In [9]:
x

,PPSORT,ABOID,BFNMEMB,CFSTAT,Citizen,CMA,DETH123,HHTYPE,MarStH,PR,...,PresMortG,REPAIR,ROOMS,SSGRAD,Tenur,TotInc,TotInc_AT,VALUE,VisMin,WRKACT
0,453141,6,0,2,1,505,1,2,2,35,...,1,1,11,5,1,97000,73000,450000,13,11
1,923226,6,0,4,1,505,2,2,1,35,...,1,1,11,4,1,49071,39759,440000,13,11
2,385097,6,0,4,1,505,2,2,1,35,...,1,1,11,4,1,49071,39759,440000,13,11
3,732612,6,0,2,1,999,2,2,3,35,...,1,2,8,8,1,46000,41000,839779,13,11
4,143665,6,0,1,1,999,1,1,3,11,...,1,3,5,6,1,30000,26000,60000,13,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930416,700854,6,0,1,1,535,2,1,2,35,...,0,1,11,8,1,120000,94000,810000,13,11
930417,821443,6,0,2,1,541,1,7,2,35,...,8,1,5,2,1,77000,61000,494190,13,11
930418,116531,6,0,7,1,988,1,9,1,59,...,1,2,5,6,1,80000,62000,710000,13,9
930419,499993,6,0,3,2,535,1,5,6,35,...,1,2,7,1,2,22000,23000,494190,2,1
930420,339051,6,0,5,1,535,1,5,1,35,...,1,2,7,6,2,9000,8000,494190,2,12

In [10]:
weights

0         37.037277
1         37.037277
2         37.037277
3         37.037277
4         37.120914
            ...
930416    37.037277
930417    37.037277
930418    37.042280
930419    37.037277
930420    37.037277
Name: WEIGHT, Length: 930421, dtype: float64

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
classifier = DecisionTreeClassifier()

In [13]:
classifier.fit(x.to_numpy(), languageShift, weights.to_numpy())

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [14]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\programdata\anaconda3\lib\site-packages (0.8.6)

In [15]:
from tabulate import tabulate
importances = classifier.feature_importances_
headers = ["name", "score"]
values = sorted(zip(x.columns, classifier.feature_importances_), key=lambda x: x[1] * -1)
print(tabulate(values, headers, tablefmt="plain"))

name                    score
GENSTAT           0.190327
POB               0.0764665
PPSORT            0.0624475
ETHDER            0.0407808
SHELCO            0.0377246
VALUE             0.0373866
AGEGRP            0.0285628
VisMin            0.0236889
MrkInc            0.022617
ROOMS             0.0224536
POBM              0.0207072
TotInc_AT         0.0206978
HHMRKINC          0.0194818
TotInc            0.0189084
CMA               0.0188084
EfDIMBM           0.0150738
WRKACT            0.0124615
CIP2011           0.0118252
BedRm             0.0117709
CFInc             0.0114756
CIP2011_STEM_SUM  0.0114446
CFInc_AT          0.0112737
HDGREE            0.010787
Mob5              0.0101358
SSGRAD            0.00949072
HHInc_AT          0.0093304
EFDecile          0.00930406
Citizen           0.00899913
HHInc             0.00871881
IMMCAT5           0.00865442
LOC_ST_RES        0.00860186
REPAIR            0.00837864
DPGRSUM           0.00831991
HHSIZE            0.00814824
EFInc_AT          0.00804638
EfSize            0.00797235
HHTYPE            0.00791506
CfSize            0.00771704
DTYPE             0.00766412
MarStH            0.00763502
LFACT             0.00757455
EFInc             0.00754133
PR5               0.00665275
PR1               0.00647198
POBF              0.00625185
MOB1              0.00603736
CFSTAT            0.00600815
PR                0.00594983
Sex               0.0056598
ATTSCH            0.00522499
LSTWRK            0.00467673
PKID6_14          0.00383615
PKID15_24         0.00374981
PresMortG         0.00368456
CONDO             0.00367175
PKID2_5           0.00362928
PKID25            0.00338573
NOS               0.0033556
DETH123           0.00323876
PRIHM             0.00318738
PKID0_1           0.00269844
Tenur             0.00247305
BFNMEMB           0.00228481
HCORENEED_IND     0.00227579
LICO_AT           0.00117819
LoLIMB            0.00115562
PKIDS             0.00111016
LoMBM             0.00107219
IMMSTAT           0.00105365
LICO              0.00102212
LoLIMA            0.000991298
ABOID             0.000559817
REGIND            0.000133251

In [16]:
from sklearn.tree import export_graphviz

# Creates dot file named tree.dot
export_graphviz(
            classifier,
            out_file =  "decisionTree.dot",
            feature_names = list(x.columns),
            class_names = ['False', 'True'],
            filled = True,
            rounded = True,
            max_depth=5)