In [1]:
import pandas as pd

In [2]:
shift_1991 = pd.read_csv('1991_LanguageShift.csv')
shift_2016 = pd.read_csv('2016_LanguageShift.csv')
shift_2016_all = pd.read_csv('2016_LanguageShift_All.csv')

In [20]:
shift_1991

,WEIGHTP,LanguageShift,ABETHNCP,AGEP,BNFNMEMP,CFINCP,CFSIZEP,CFSTATP,CITIZENP,CMAPUMFP,...,RCONDP,REGINP,ROOMP,SECGRADP,SEXP,TENURP,TOTINCP,UNITSP,VALUEP,WKSWKP
0,33.33,False,5,5,2,17,4,4,1,999,...,2,2,10,2,1,1,3,4,0,0
1,33.33,False,5,0,2,17,4,7,1,999,...,2,2,10,9,1,1,88,4,0,88
2,33.33,False,5,6,2,21,5,1,1,999,...,2,2,9,5,2,1,5,5,0,0
3,33.33,False,5,1,2,21,5,7,1,999,...,2,2,9,9,1,1,88,5,0,88
4,33.33,False,5,8,2,8,2,1,1,999,...,2,2,8,1,2,1,2,4,0,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809649,33.33,False,2,0,2,99,1,11,1,999,...,2,2,5,9,1,1,88,7,1,88
809650,33.33,False,2,3,2,12,4,4,1,999,...,9,2,5,1,1,2,1,4,88,88
809651,33.33,False,2,0,2,12,4,7,1,999,...,9,2,5,9,2,2,88,4,88,88
809652,33.33,False,2,0,2,12,4,7,1,999,...,9,2,5,9,2,2,88,4,88,88
809653,33.33,True,2,4,2,99,1,11,1,999,...,9,2,5,3,1,2,3,3,88,1

In [25]:
def analyze_feature_value(dataset, feature):
    """Return weighted count of negative and positive language shifts for a value."""
    
    weight_name = 'WEIGHTP' if 'WEIGHTP' in dataset else 'WEIGHT'
    
    sums = dataset[['LanguageShift', weight_name, feature]].groupby([feature], as_index=False).sum()
    
    sums_dict = dict(zip(sums[feature], sums[weight_name]))
    
    pd.options.display.float_format = '{:.2f}'.format
    analyzed = dataset[[weight_name, 'LanguageShift', feature]].groupby([feature, 'LanguageShift'], as_index=False).sum()
    
    analyzed[weight_name] = [weight / sums_dict[value] for weight, value in zip(analyzed[weight_name], analyzed[feature])]
    
    return analyzed


analyze_feature_value(shift_1991, 'SEXP')

   SEXP  LanguageShift  WEIGHTP
0     1          False     0.93
1     1           True     0.07
2     2          False     0.92
3     2           True     0.08