In [61]:
import pandas as pd
fields = ['WEIGHT',
 'ABOID',
 'AGEGRP',
 'AGEIMM',
 'ATTSCH',
 'BedRm',
 'BFNMEMB',
 'CapGn',
 'CFInc',
 'CFInc_AT',
 'CfSize',
 'CFSTAT',
 'CHDBN',
 'ChldC',
 'CIP2011',
 'CIP2011_STEM_SUM',
 'Citizen',
 'CitOth',
 'CMA',
 'CONDO',
 'COW',
 'CQPPB',
 'DETH123',
 'DIST',
 'DPGRSUM',
 'DTYPE',
 'EFDecile',
 'EfDIMBM',
 'EFInc',
 'EFInc_AT',
 'EfSize',
 'EICBN',
 'EmpIn',
 'ETHDER',
 'FPTWK',
 'GENSTAT',
 'GovtI',
 'GTRfs',
 'HCORENEED_IND',
 'HDGREE',
 'HHInc',
 'HHInc_AT',
 'HHMRKINC',
 'HHSIZE',
 'HHTYPE',
 'HLANO',
 'IMMCAT5',
 'IMMSTAT',
 'IncTax',
 'Invst',
 'LFACT',
 'LICO',
 'LICO_AT',
 'LOC_ST_RES',
 'LOCSTUD',
 'LoLIMA',
 'LoLIMB',
 'LoMBM',
 'LSTWRK',
 'MarStH',
 'MOB1',
 'Mob5',
 'MODE',
 'MrkInc',
 'MTNNO',
 'NAICS',
 'NOC16',
 'NOCS',
 'NOS',
 'OASGI',
 'OtInc',
 'PKID0_1',
 'PKID15_24',
 'PKID2_5',
 'PKID25',
 'PKID6_14',
 'PKIDS',
 'POB',
 'POBF',
 'POBM',
 'POWST',
 'PR',
 'PR1',
 'PR5',
 'PresMortG',
 'PRIHM',
 'PWDUR',
 'PWLEAVE',
 'PWOCC',
 'PWPR',
 'REGIND',
 'REPAIR',
 'Retir',
 'ROOMS',
 'SempI',
 'Sex',
 'SHELCO',
 'SSGRAD',
 'Subsidy',
 'Tenur',
 'TotInc',
 'TotInc_AT',
 'VALUE',
 'VisMin',
 'Wages',
 'WKSWRK',
 'WRKACT']

dataset = pd.read_csv("pumf-98M0001-E-2016-individuals_F1.csv", usecols=fields)
dataset.head()

,WEIGHT,ABOID,AGEGRP,AGEIMM,ATTSCH,BedRm,BFNMEMB,CapGn,CFInc,CFInc_AT,...,SSGRAD,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT
0,37.037277,6,11,99,1,5,0,99999999,30,27,...,5,9,1,97000,73000,450000,13,95000,6,11
1,37.037277,6,5,99,9,5,0,99999999,30,27,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
2,37.037277,6,2,99,9,5,0,99999999,30,27,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
3,37.037277,6,12,99,1,4,0,99999999,20,19,...,8,9,1,46000,41000,839779,13,19000,6,11
4,37.120914,6,15,99,1,2,0,99999999,16,15,...,6,9,1,30000,26000,60000,13,29000,5,9

In [62]:
motherTongueDict = {}
motherTongueDict['1'] = 'No non-official languages'
motherTongueDict['2'] = 'Aboriginal languages'
motherTongueDict['3'] = 'Arabic'
motherTongueDict['4'] = 'Mandarin'
motherTongueDict['5'] = 'Cantonese'
motherTongueDict['6'] = 'Chinese languages'
motherTongueDict['7'] = 'German'
motherTongueDict['8'] = 'All other languages' #'Other Germanic languages'
motherTongueDict['9'] = 'All other languages' #'Greek'
motherTongueDict['10'] = 'Urdu'
motherTongueDict['11'] = 'Persian (Farsi)'
motherTongueDict['12'] = 'Other Indo-Iranian languages'
motherTongueDict['13'] = 'Italian'
motherTongueDict['14'] = 'Polish'
motherTongueDict['15'] = 'Portuguese'
motherTongueDict['16'] = 'Punjabi (Panjabi)'
motherTongueDict['17'] = 'Spanish'
motherTongueDict['18'] = 'All other languages' #'Ukrainian'
motherTongueDict['19'] = 'All other languages' #'Vietnamese'
motherTongueDict['20'] = 'Austro-Asiatic languages'
motherTongueDict['21'] = 'Other European languages'
motherTongueDict['22'] = 'Russian'
motherTongueDict['23'] = 'All other languages' #'Other Slavic languages'
motherTongueDict['24'] = 'All other languages' #'Uralic languages'
motherTongueDict['25'] = 'Other Afro-Asiatic and African languages' #'Other Afro-Asiatic languages'
motherTongueDict['26'] = 'Tamil'
motherTongueDict['27'] = 'All other languages' #'Other Dravidian languages'
motherTongueDict['28'] = 'All other languages' #'Korean'
motherTongueDict['29'] = 'Other East and Southeast Asian languages'
motherTongueDict['30'] = 'Tagalog (Pilipino, Filipino)'
motherTongueDict['31'] = 'All other languages' #'Niger-Congo languages and other African languages'
motherTongueDict['32'] = 'All other languages' #'All other single languages'
motherTongueDict['88'] = 'Not available'

In [63]:
homeLanguageDict = {}
homeLanguageDict['1'] = 'No non-official languages'
homeLanguageDict['2'] = 'Aboriginal languages'
homeLanguageDict['3'] = 'Italian'
homeLanguageDict['4'] = 'Spanish'
homeLanguageDict['5'] = 'Portugese'
homeLanguageDict['6'] = 'German'
homeLanguageDict['7'] = 'Russian'
homeLanguageDict['8'] = 'Polish'
homeLanguageDict['9'] = 'Slavic languages'
homeLanguageDict['10'] = 'Other European languages'
homeLanguageDict['11'] = 'Arabic'
homeLanguageDict['12'] = 'Other Afro-Asiatic and African languages'
homeLanguageDict['13'] = 'Punjabi (Panjabi)'
homeLanguageDict['14'] = 'Urdu'
homeLanguageDict['15'] = 'Persian (Farsi)'
homeLanguageDict['16'] = 'Other Indo-Iranian languages'
homeLanguageDict['17'] = 'Cantonese'
homeLanguageDict['18'] = 'Mandarin'
homeLanguageDict['19'] = 'Chinese languages'
homeLanguageDict['20'] = 'Austro-Asiatic languages'
homeLanguageDict['21'] = 'Tagalog (Pilipino, Filipino)'
homeLanguageDict['22'] = 'Other East and Southeast Asian languages'
homeLanguageDict['23'] = 'Tamil'
homeLanguageDict['24'] = 'All other languages'
homeLanguageDict['88'] = 'Not available'

In [64]:
# class label: home language part A - first language write in component
homeLang = dataset['HLANO']
# class label: mother tongue part A - first language write in component
motherTongue = dataset['MTNNO']
fields.remove('HLANO')
fields.remove('MTNNO')
homeLanguageMapped = homeLang.apply(lambda x: homeLanguageDict[str(x)])
motherTongueMapped = motherTongue.apply(lambda x: motherTongueDict[str(x)])
languageShift = homeLanguageMapped.ne(motherTongueMapped)

fields.remove('WEIGHT')
x = dataset[fields]
weights = dataset["WEIGHT"]

In [65]:
homeLanguageMapped

0         No non-official languages
1         No non-official languages
2         No non-official languages
3         No non-official languages
4         No non-official languages
                    ...
930416    No non-official languages
930417    No non-official languages
930418    No non-official languages
930419                    Cantonese
930420    No non-official languages
Name: HLANO, Length: 930421, dtype: object

In [66]:
motherTongueMapped

0         No non-official languages
1         No non-official languages
2         No non-official languages
3         No non-official languages
4         No non-official languages
                    ...
930416    No non-official languages
930417    No non-official languages
930418    No non-official languages
930419                    Cantonese
930420    No non-official languages
Name: MTNNO, Length: 930421, dtype: object

In [67]:
languageShift

0         False
1         False
2         False
3         False
4         False
          ...
930416    False
930417    False
930418    False
930419    False
930420    False
Length: 930421, dtype: bool

In [68]:
x

,ABOID,AGEGRP,AGEIMM,ATTSCH,BedRm,BFNMEMB,CapGn,CFInc,CFInc_AT,CfSize,...,SSGRAD,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT
0,6,11,99,1,5,0,99999999,30,27,4,...,5,9,1,97000,73000,450000,13,95000,6,11
1,6,5,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
2,6,2,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
3,6,12,99,1,4,0,99999999,20,19,4,...,8,9,1,46000,41000,839779,13,19000,6,11
4,6,15,99,1,2,0,99999999,16,15,2,...,6,9,1,30000,26000,60000,13,29000,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930416,6,17,99,1,4,0,200,31,28,2,...,8,9,1,120000,94000,810000,13,130000,6,11
930417,6,13,99,1,8,0,99999999,30,27,4,...,2,8,8,77000,61000,88888888,13,78000,6,11
930418,6,13,99,1,3,0,99999999,21,17,1,...,6,9,1,80000,62000,710000,13,81000,5,9
930419,6,21,7,1,3,0,99999999,13,13,3,...,1,0,2,22000,23000,99999999,2,99999999,9,1
930420,6,14,99,1,3,0,99999999,13,13,3,...,6,0,2,9000,8000,99999999,2,99999999,6,12

In [69]:
weights

0         37.037277
1         37.037277
2         37.037277
3         37.037277
4         37.120914
            ...
930416    37.037277
930417    37.037277
930418    37.042280
930419    37.037277
930420    37.037277
Name: WEIGHT, Length: 930421, dtype: float64

In [70]:
from sklearn.ensemble import RandomForestClassifier

In [71]:
classifier = RandomForestClassifier(n_estimators=20, random_state=0)

In [72]:
from sklearn.model_selection import train_test_split
weights_train, weights_test, x_train, x_test, languageShift_train, languageShift_test = train_test_split(weights, x, languageShift)

In [73]:
classifier.fit(x_train, languageShift_train, weights_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [74]:
languageShift_pred = classifier.predict(x_test)

In [75]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

The Confusion Matrix indicates, given the predicted language (row names), for how many records did the algorith match the actual language. The classification report and accuracy score are other ways to evaluate how well the classification algorithm performed.

In [76]:
confusionMatrixLanguageShift = pd.DataFrame(
    confusion_matrix(languageShift_test,languageShift_pred), 
    index=['False', 'True'], 
    columns=['False', 'True'], 
)

In [78]:
print(confusionMatrixLanguageShift)
print(classification_report(languageShift_test,languageShift_pred,target_names=['False', 'True']))
print(accuracy_score(languageShift_test, languageShift_pred))

        False  True
False  204268  3391
True    16721  8226
              precision    recall  f1-score   support

       False       0.92      0.98      0.95    207659
        True       0.71      0.33      0.45     24947

    accuracy                           0.91    232606
   macro avg       0.82      0.66      0.70    232606
weighted avg       0.90      0.91      0.90    232606

0.9135361942512231

In [ ]:
!pip install tabulate

In [79]:
from tabulate import tabulate
importances = classifier.feature_importances_
headers = ["name", "score"]
values = sorted(zip(x_train.columns, classifier.feature_importances_), key=lambda x: x[1] * -1)
print(tabulate(values, headers, tablefmt="plain"))

name                    score
POB               0.0642715
ETHDER            0.0489333
POBF              0.0464251
POBM              0.0458025
GENSTAT           0.0261459
SHELCO            0.022459
IMMCAT5           0.0215294
VisMin            0.021157
VALUE             0.0201803
IMMSTAT           0.0197083
DPGRSUM           0.0186241
HHMRKINC          0.0164112
Citizen           0.0161487
ROOMS             0.0160255
AGEIMM            0.0158326
AGEGRP            0.0152146
EfDIMBM           0.0149137
TotInc_AT         0.0148551
TotInc            0.0148061
CFInc             0.0143034
CMA               0.0141504
CFInc_AT          0.0140431
HHInc             0.0137225
HHInc_AT          0.0135584
EFInc             0.0133489
GTRfs             0.0133047
MrkInc            0.0131933
EFInc_AT          0.0131692
EmpIn             0.0111691
Wages             0.0106227
BedRm             0.0100779
NOC16             0.0100419
IncTax            0.00977111
GovtI             0.00958899
EFDecile          0.00919962
NAICS             0.00918622
HDGREE            0.00907578
HHSIZE            0.00883469
CitOth            0.00860057
SSGRAD            0.00859767
EfSize            0.00859548
PR                0.00853724
Invst             0.00842511
CIP2011           0.00842299
CIP2011_STEM_SUM  0.00840033
PR1               0.00811341
PR5               0.00795872
CfSize            0.00774504
Mob5              0.00764809
DETH123           0.00741381
HHTYPE            0.00708655
NOCS              0.00694558
LOCSTUD           0.00690776
PWLEAVE           0.00667397
DTYPE             0.00634247
WRKACT            0.00632588
REPAIR            0.00608854
CQPPB             0.00587441
PWDUR             0.00579347
DIST              0.00574002
CFSTAT            0.00543175
POWST             0.00520256
WKSWRK            0.00513441
MarStH            0.00512615
LFACT             0.00483686
PresMortG         0.00481269
PWPR              0.00471215
Sex               0.00464688
CHDBN             0.00463528
MOB1              0.00446538
OtInc             0.00425181
CapGn             0.00395283
SempI             0.00394181
OASGI             0.00393654
LOC_ST_RES        0.00383329
MODE              0.00379791
ATTSCH            0.00371676
PKID15_24         0.00367386
Retir             0.00349724
PKID6_14          0.00344479
PKID2_5           0.00339428
Subsidy           0.00321377
CONDO             0.00318264
LSTWRK            0.00312784
NOS               0.00311524
PWOCC             0.0028726
PKID25            0.00270262
HCORENEED_IND     0.00269819
EICBN             0.00265342
ChldC             0.00262167
PKID0_1           0.00251111
PRIHM             0.00248061
COW               0.00234303
FPTWK             0.00222596
Tenur             0.00214209
PKIDS             0.00192135
LoLIMB            0.00141611
LICO              0.00130697
LoMBM             0.00130446
LoLIMA            0.00122725
LICO_AT           0.00114182
BFNMEMB           0.000514264
ABOID             0.000419863
REGIND            0.000369028

In [80]:
from sklearn.tree import export_graphviz
estimator = classifier.estimators_[5]
# Creates dot file named randomForestTreeSample.dot
export_graphviz(estimator, 
                out_file='randomForestTreeSample.dot', 
                feature_names = list(x.columns),
                class_names = ['False', 'True'],
                rounded = True, proportion = False, 
                precision = 2, filled = True,
                max_depth=5)